.ContainerOrder{
    padding: 0 15px 0 15px;
    height: 80%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    overflow:auto;
    margin: auto;
    margin-top: 2rem;
}
select{
    width: 130px; 
    padding: 4px 4px 2px 4px;
    background: #333; color: #eee;
    border-radius: 5px;
    font-family: monospace; 
    font-size: 16px;
}

#title {
    font-size: 2.5rem;
    padding: .3rem;
    text-align: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    font-family: 'Lobster';
    margin: 2rem;
    width: 85%;
    margin-bottom: 0rem;
    position: relative;
}
.table {
    width: 100%;
    border: 3px solid grey;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    background: radial-gradient(#ddd, #555);
    
    @media screen and (max-width: 580px) {
        display: block
    }
}

#header{
    background: linear-gradient(#744a06, #b39c3a);
    color: #eee;
    font-size: 22px; font-weight: bold;
}

.rowDetail {
    background: transparent;
    justify-content:space-between;
    display: flex;
    width: 100%; 
    color: #222;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    transition: .3s;
    &:hover {
        background-color: #444;
        color: #ccc;
    }
    
    &.header {
        font-weight: 900;
        color: #ffff;
    }

    
    &.green {
      background: #27ae60
    }
    
    &.blue {
      background: #2980b9
    }
    @media screen and (max-width: 580px) {
        padding: 14px 0 7px;
        display: block;  
        &.header {
            padding: 0;
            height: 6px;
        }
        .cell {
            display: none
        }
    }
}
  
   

    
.cell {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    &:before {
        margin-bottom: 3px;
        content: attr(data-title);
        min-width: 98px;
        font-size: 10px;
        line-height: 10px;
        font-weight: bold;
        text-transform: uppercase;
        color: #969696;
        display: block;
    }

}
.cell {
    padding: 6px 12px;
    //display: table-cell;
    @media screen and (max-width: 580px) {
        padding: 2px 16px;
        display: block
    }

}

#footer{
    background: #969696;
    font-size: 22px;
}

#filter {
    margin: 8px 0 5px 0;
    font-family: monospace;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
}

.detailCell{
    width: 180px; height: 80px;
    font-size: 19px;
    display: flex; justify-content: center;
    align-items: center;
}
